body {
    margin: 0px;
    padding: 0px;
}
.main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls {
    width: 30%;
    padding: 1em;
    background-color: aqua;
}

.cover {
    width: 10rem;
    height: 100rem;
    border-radius: 50%;
    overflow: hidden;
}

.cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation-name: girar;
    animation-direction: normal;
    
}
